# Datos sensibles
data/raw/
data/processed/
data/processed_2/
*.dcm
*.png
*.jpg

# Entornos virtuales y Python
__pycache__/
venv/
.env

pyproject.toml
.python-version

uv.lock

wandb
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/bde7b070-midshaftUR_553550202108220764_front.txt
.gitignore
.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.vscode/c_cpp_properties.json
.vscode/settings.json
EvaluacionAgentes/EvalDatasetProperID (2).zip
EvaluacionAgentes/EvalDatasetProperID.zip
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/classes.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/notes.json
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/0b0fa056-midshaftUR_279807201506140483_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/0e91fd4d-midshaftUR_295711201510240018_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/1a65034c-distalUR_309808201603050144_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/1d43e862-distalUR_383810201711090447_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/1ecbbd5f-midshaftUR_527895202101230683_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/2c8950df-midshaftUR_528090202106070408_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/3c47b669-distalUR_372394201708150815_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/3de68e9f-midshaftUR_514175202009200650_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/4bd5f3ea-midshaftUR_623292202304090234_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/5d9e3c66-proximalUR_600209202209210004_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/6eeeab39-proximalUR_643423202308130016_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/7a8ad9c9-proximalUR_565420202111280007_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/7dd3a4a6-midshaftUR_569603202201030006_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/7fccb3c6-distalUR_512292202009030491_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/8b2a526e-distalUR_638237202307150534_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/8dc54f83-distalUR_618964202303080326_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/9cccb6ab-midshaftUR_361615201705250484_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/9d282f87-distalUR_420264201902020255_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/9f9def85-proximalUR_652404202310110581_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/11bd0afa-distalUR_218579202311120011_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/21e1134e-distalUR_507786202211270685_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/27d0fbcb-distalUR_496274202003250008_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/43ae21d4-proximalUR_551458202108080008_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/52dc798e-midshaftUR_324271201607080528_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/52f56e3c-midshaftUR_252418201410060423_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/53ab87d9-distalUR_610915202212200357_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/56f8a0d0-proximalUR_363102201706070450_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/61eb286e-distalUR_519247202011060579_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/63cd09cd-proximalUR_287644201508140294_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/72c7b2f6-proximalUR_274880201505020488_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/82e9737b-midshaftUR_580326202204230015_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/92d5735b-midshaftUR_442053201901100459_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/94b4408d-midshaftUR_663555202312280726_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/94fa9ff0-midshaftUR_556168202109120613_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/95beeb4b-proximalUR_641691202308030004_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/97b74ff3-midshaftUR_378504201709300006_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/098baa13-distalUR_654374202310240953_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/208b3a79-midshaftUR_483621201911080595_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/310c070b-proximalUR_608317202211280374_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/370f6ac0-distalUR_563668202111120557_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/742f7d6c-distalUR_501016202005230561_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/842c6808-proximalUR_585227202206010636_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/970ad5ca-midshaftUR_367304201707110669_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/3796cf71-distalUR_605664202211070678_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/6433e958-distalUR_376791201709170860_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/7867b167-distalUR_286195201508030620_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/09678e1b-distalUR_334257201609240543_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/43386b52-midshaftUR_504090202006270003_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/49869aa0-distalUR_570875202201130203_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/78296b79-distalUR_670816202402210097_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/431064ca-proximalUR_492231202001110685_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/960759f5-midshaftUR_429767201810100843_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/2036074e-distalUR_433888201811100010_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/5988798e-distalUR_214298201310080338_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/7422472b-midshaftUR_271743201504050258_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/12667489-proximalUR_389715201712230734_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/90643805-midshaftUR_519058202011040560_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/a42fa4ae-distalUR_456139201904290483_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/ac7c4106-midshaftUR_378616201710010005_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/ac1746f3-midshaftUR_336377201610140407_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/b09a567d-midshaftUR_413232201806210190_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/b9f011b4-midshaftUR_245634201408090417_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/b051d59e-midshaftUR_617412202302240640_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/b0976ce0-distalUR_287833201606130473_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/b34393fa-distalUR_460267201905290619_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/baafc288-proximalUR_430998201810200005_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/bf292548-midshaftUR_363448201706100499_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/c1a46320-midshaftUR_496090202102160261_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/c4f4d062-midshaftUR_339317201611100001_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/c6ca210f-midshaftUR_457708201905120004_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/c7f49435-midshaftUR_341131201611250451_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/c68ed584-distalUR_543971202106100410_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/c4347a2b-midshaftUR_269532201503150455_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/c246268e-distalUR_349365201702100445_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/c718407e-distalUR_323318201607010253_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/cd411282-proximalUR_547531202107110631_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/d4e0589d-distalUR_574338202202180307_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/d6ba81f5-distalUR_581002202204280474_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/d60a3b67-distalUR_286729201508080011_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/d4962eed-midshaftUR_538521202104260641_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/d7699448-distalUR_288399201508200001_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/d8781569-distalUR_356644201704150007_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/db732479-midshaftUR_358348201704290008_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/dbd6caa6-distalUR_586581202206130232_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/e207b148-distalUR_252420201410060426_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/e455f7a2-distalUR_305576201601210420_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/ed259a78-midshaftUR_542255202105260598_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/f0dd2da0-distalUR_560966202110210571_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/f5e57760-midshaftUR_580155202204210581_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/f6a1f87e-midshaftUR_562922202111080273_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/f9b0a73e-proximalUR_601952202210090004_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/f9f67586-proximalUR_312909201605280006_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/f18dce58-midshaftUR_544133202106120611_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/f28d67c2-distalUR_562926202111070002_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/f71e83f2-proximalUR_606075202211100656_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/f485d416-midshaftUR_501018202005230578_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/fa970da2-proximalUR_595184202208110083_front.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/fad991dd-proximalUR_481590201910240580_side.txt
EvaluacionAgentes/Ejemplo Evaluacion/ej_eval_test/labels/ff33a814-distalUR_360859201705200008_side.txt
logs/sistema_ia.log
